@use './design' as *;

.card {
    width: clamp(327px, 19.72vw, 384px);

    background-color: $grey-800;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;

    gap: $space-300;
    padding: $space-500;
    border-radius: $space-150;
}

.card__img {
    width: 88px;
    height: 88px;
    border-radius: 100%;
}
 .card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $space-50;
 }

 .card__info-name {
    @include font($text-large, $text-weight-bold);
}

 .card__info-place {
    @include font($text-small, $text-weight-bold);
    color: $green;
}

 .card__occupation {
    @include font($text-small, $text-weight-regular);
    width: 304px;
}

.card__nav {
    & ul {
        display: flex;
        flex-direction: column; 
        gap: $space-200;
    }
}

.card__nav-link {
    @include font($text-small, $text-weight-bold);
    background-color: $grey-700;

    display: flex;
    align-items: center;
    justify-content: center;

    width: clamp(279px, 21.11vw ,304px);
    height: 45px;

    border-radius: $space-100;

    transition: all 0.5s ease-in-out;
    &:hover,
    &:focus {
        color: $grey-700;
        background-color: $green;
    }
}