@use './design' as *;

.attribution {
    display: flex;
    justify-content: center;
    gap: $space-100;
    padding: $space-200 0;

    & a {
        display: inline-block;
        color: $green;
        transition: all 0.3s ease;
        &:hover,
        &:focus {
            color: $white;
            transform: translateY(-3px);
        }
    }

    @media (max-width: 470px) {
        & {
            flex-direction: column;
            align-items: center;
        }
    }
}