@use './design' as *;

html {
    font-size: 100%
}
body {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    background-color: $grey-900;
    color: $white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    @include font($text-large, $text-weight-bold);
}
h2 {
    @include font($text-small, $text-weight-bold);
    color: $green;
}
h3 {
    @include font($text-small, $text-weight-regular);
}
a {
    @include font($text-small, $text-weight-bold);

    text-decoration: none;
    color: inherit;
}
  