@use './design' as *;

html {
    font-size: 100%
}
body {
    font-size: 1rem;
    background-color: $grey-900;
    color: $white;
}
h1 {
    @include font($text-large, $text-weight-bold);
    font-family: 'Inter', sans-serif;
}
h2 {
    @include font($text-small, $text-weight-bold);
    font-family: 'Inter', sans-serif;
    color: $green;
}
h3 {
    @include font($text-small, $text-weight-regular);
    font-family: 'Inter', sans-serif;
}
a {
    @include font($text-small, $text-weight-bold);
    font-family: 'Inter', sans-serif;

    text-decoration: none;
    color: inherit;
}
  