@use './design' as *;

html {
    font-size: 100%
}
body {
    font-size: 1rem;
}
h1 {
    @include font($text-large, $text-weight-bold);
    font-family: 'Inter', sans-serif;
}
h2 {
    @include font($text-small, $text-weight-bold);
    font-family: 'Inter', sans-serif;
}
h3 {
    @include font($text-small, $text-weight-regular);
    font-family: 'Inter', sans-serif;
}
a {
    @include font($text-small, $text-weight-bold);
    font-family: 'Inter', sans-serif;
}
  