// Colors
$grey-900: #141414;
$grey-800:#1F1F1F;
$grey-700:#333333;
$green: #C4F82A;
$white: #FFFFFF;

// Spacings
$space-600: 40px;
$space-300: 24px;
$space-200: 16px;
$space-150: 12px;
$space-100: 8px;
$space-50: 4px;